*.js linguist-language=Python
*.xml linguist-language=Python
*.css linguist-language=Python
*.sql linguist-language=Python
*.uml linguist-language=Python
*.cmd linguist-language=Python
*.py linguist-language=Python
*.c linguist-language=Python
*.h linguist-language=Python
*.s linguist-language=Python
